.info-text {
	width: 1440px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	h1 {
		font-size: 24px;
		margin: 0;
		font-weight: 600;
	}

	&-block {
		display: flex;
		justify-content: space-between;

		gap: 30px;

		div {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2 {
				font-size: 48px;
				font-weight: 800;
				color: #FF4D4D;
				margin: 0;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				margin: 0;
			}
		}
	}

	.banners {
		position: relative;
		margin-top: 20px;
		.img-banner{
			width: 100%;
			height: 453px;
		}
		.block {
			position: absolute;
			display: flex;
			justify-content: center;
			padding: 80px;
			.info{
				display: flex;
				flex-direction: column;
				gap: 50px;
				h1{
					font-size: 48px;
					font-weight: 800;
					span{
						color: #FF4D4D;
					}
				}
				div{
					display: flex;
					gap: 30px;
				}
			}
			.tell{
				bottom: 0;
				width: 70%;
				height: 370px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.info-text {
		width: 95%;
		gap: 16px;

		h1 {
			font-size: 16px;
		}

		&-block {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 12px;

			div {
				display: flex;
				flex-direction: column;
				gap: 7px;

				h2 {
					font-size: 32px;
				}

				p {
					font-size: 12px;

				}
			}
		}
		.banners {
			.img-banner{
				width: 100%;
				height: 391px;
			}
			.block {
				position: absolute;
				flex-direction: column;
				justify-content: space-between;
				height: 370px;
				padding: 20px;
				.info{
					display: flex;
					flex-direction: column;
					gap: 10px;
					h1{
						font-size: 20px;
						width: 80%;
					}
					div{
						display: flex;
						justify-content: space-between;
						gap: 5px;
						img{
							width: 50%;
							height: 43px;
						}
					}
				}
				.tell{
					bottom: 0;
					width: 90%;
					height: auto;
				}
			}
		}
	}
}