.swiper-button-prev,
.swiper-button-next {
	width: 56px;
	height: 56px;
	background-color: white;
	border-radius: 50%;
	font-size: 20px;
	color: #8F96A0 !important;
}

.swiper-block{
	max-width: 1440px;
	margin: auto;
	.mySwiper{
		width: 100%;
		margin: auto;
	}
}
.swiper-button-next{
	right: 0;
}
.swiper-button-prev{
	left: 0;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 20px !important;
}
@media only screen and (max-width: 1300px){

	.swiper-button-prev{
		left: 0;
	}
	.swiper-button-next {
		right: 0;
	}
}
@media only screen and (max-width: 1050px){
	.mySwiper{
		width: 100%;
		margin: auto;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: none !important;
	}
}

