.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: #FF4D4D;
}

.bottom-navigate{


    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: 4px;
        img{
            width: 20px;
            object-fit: cover;
        }
        p{
            font-size: 11px;
            color: #7E8794;

        }
    }
}
@media only screen and (max-width: 959px){
    .bottom-navigate{
        a{
            .css-fvc8ir-MuiBadge-badge{
                top: 20%;
                background-color: #FF4D4D !important;
                min-width: 16px !important;
                height: 16px;
                padding: 0 !important;
                color: white;
                font-size: 11px;
            }
            img{
                width: 22px;
                object-fit: cover;
            }

        }
    }
    .css-13y1jin-MuiBottomNavigation-root{
        height: 50px !important;
    }
}