.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: #FF4D4D;
}
.css-1rkehq9-MuiBottomNavigation-root{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
}
.bottom-navigate{


    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        img{
            width: 20px;
            object-fit: cover;
        }
        p{
            font-size: 10px;
            color: #7E8794;

        }
    }
}