.productDetail{
    margin-top: 20px;
    &-main{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-block{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            gap: 20px;
            background-color: #FDFDFD;
            border: 1px solid #F2F5F9;
            border-radius: 12px;
            img{
                object-fit: cover;
            }
            .img-main2{
                display: none;
            }
            .detail-info{
                flex: 2;
                &-top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    div{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        .detail-rating,.detail-osenka{
                            display: flex;
                            align-items: center;
                            background-color: #F6F7FA;
                            border-radius: 12px;
                            height: 48px;
                            padding: 0 15px;
                            font-size: 16px;
                            color: #30D170;
                            font-weight: 500;
                        }
                        .detail-rating{
                            color: #7E8794;
                            gap: 5px;
                        }
                        .css-ryrseu-MuiRating-root{
                            color: #FF4D4D;
                        }
                    }
                    .buttons{
                        button{
                            background-color: #FDFDFD;
                            img{
                                width: 50%;
                            }
                        }
                    }
                }
                .detail-center{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    margin-top: 15px;
                    .detail-price{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h1{
                            font-size: 24px;
                            font-weight: 600;
                        }
                        p{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            h2{
                                font-size: 24px;
                                font-weight: 700;
                            }
                            span{
                                display: flex;
                                align-items: center;
                                color: #30D170;
                            }
                        }
                    }
                    .detail-haracter{
                        display: flex;
                        align-items: flex-start;
                        gap: 40px;
                        div{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            p{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-size: 14px;
                                font-weight: 500;
                                span{
                                    color: #A1ABB9;
                                }
                            }
                        }
                    }
                }

            }
            .detail-right{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 261px;
                div{
                    p{
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #7E8794;
                    }
                }
                button{
                    background-color: #FF4D4D;
                    width: 100%;
                    height: 52px;
                    border-radius: 8px;
                    margin-top: 10px;
                }
            }
        }
        .paginations{
            display: flex;
            align-items: center;
            justify-content: center;
           margin: 0;
        }
    }
}
@media only screen and (max-width: 1200px){
    .productDetail{
        &-main{
            &-block{
                display: flex;
                justify-content: space-between;
                padding: 15px;
                gap: 20px;
                img{
                    object-fit: cover;

                }
                .detail-info{
                    &-top{
                        div{
                            gap: 10px;
                            .detail-rating,.detail-osenka{
                                padding: 0 10px;
                                font-size: 13px;
                            }

                        }
                    }
                    .detail-center{
                        gap: 30px;
                        margin-top: 15px;
                        .detail-price{
                            h1{
                                font-size: 20px;
                            }
                            p{
                                gap: 10px;
                                h2{
                                    font-size: 20px;
                                }

                            }
                        }
                        .detail-haracter{
                            gap: 20px;
                            div{
                                gap: 12px;
                                p{
                                    gap: 5px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                }
                .detail-right{
                    gap: 10px;
                    div{
                        p{
                            margin-bottom: 5px;
                            font-size: 12px;
                            color: #7E8794;
                        }
                    }
                    button{

                        height: 52px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1080px){
    .productDetail{
        &-main{
            &-block{
                display: flex;
                justify-content: space-between;
                padding: 10px;
                gap: 15px;
                .detail-info{
                    &-top{
                        div{
                            gap: 10px;
                            .detail-rating,.detail-osenka{
                                padding: 0 5px;
                                font-size: 12px;
                            }

                        }
                    }
                    .detail-center{
                        gap: 20px;
                        margin-top: 15px;
                        .detail-price{
                            h1{
                                font-size: 16px;
                            }
                            p{
                                gap: 5px;
                                font-size: 12px;
                                h2{
                                    font-size: 16px;
                                }

                            }
                        }
                        .detail-haracter{
                            gap: 10px;
                            div{
                                gap: 12px;
                                p{
                                    gap: 5px;
                                    font-size: 11px;
                                }
                            }
                        }
                    }

                }
                .detail-right{
                    gap: 10px;
                    div{
                        p{
                            margin-bottom: 5px;
                            font-size: 11px;
                            color: #7E8794;
                        }
                    }
                    button{

                        height: 42px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 959px){
    .productDetail{
        &-main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-block{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;
                background-color: #FDFDFD;
                border: 1px solid #F2F5F9;
                border-radius: 12px;
                .img-main{
                    display: none;
                }
                .detail-info{
                    flex: 2;

                    &-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            .detail-rating,.detail-osenka{
                                display: flex;
                                align-items: center;
                                background-color: #F6F7FA;
                                border-radius: 12px;
                                height: 48px;
                                padding: 0 15px;
                                font-size: 16px;
                                color: #30D170;
                                font-weight: 500;
                            }
                            .detail-rating{
                                color: #7E8794;
                                gap: 5px;
                            }
                        }
                        .buttons{
                            position: absolute;
                            top: 35%;
                            button{
                                background-color: #FDFDFD;
                                img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                    .detail-center{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        margin-top: 15px;
                        .detail-price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            h1{
                                font-size: 24px;
                                font-weight: 600;
                            }
                            p{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                gap: 10px;
                                h2{
                                    font-size: 24px;
                                    font-weight: 700;
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    color: #30D170;
                                }
                            }
                        }
                        .detail-haracter{
                            margin-top: 30px;
                            display: flex;
                            align-items: center;
                            gap: 40px;
                            .img-main2{
                                display: block;
                                object-position: left;
                                width: 30%;
                            }
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 15px;
                                p{

                                    gap: 10px;
                                    font-size: 15px;
                                    font-weight: 400;

                                }
                            }
                            .none{
                                display: none;
                            }
                        }
                    }

                }
                .detail-right{
                   display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .productDetail{
        &-main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-block{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;
                .img-main{
                    display: none;

                }
                .detail-info{
                    flex: 2;

                    &-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .detail-rating,.detail-osenka{
                                display: flex;
                                align-items: center;
                                background-color: #F6F7FA;
                                border-radius: 12px;
                                height: 30px;
                                padding: 0 10px;
                                font-size: 13px;

                            }
                            .css-ryrseu-MuiRating-root{
                                width: 20px !important;
                                overflow: hidden;
                            }

                        }
                        .buttons{
                            position: absolute;
                            top: 37%;
                            button{
                                background-color: #FDFDFD;
                                img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                    .detail-center{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        margin-top: 15px;
                        .detail-price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            h1{
                                font-size: 14px;
                                font-weight: 600;
                            }
                            p{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                gap: 10px;
                                h2{
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    color: #30D170;
                                }
                            }
                        }
                        .detail-haracter{
                            margin-top: 30px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .img-main2{
                                display: block;
                                object-position: left;
                                width: 120px;
                            }
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                p{

                                    gap: 10px;
                                    font-size: 12px;
                                    font-weight: 400;

                                }
                            }
                            .none{
                                display: none;
                            }
                        }
                    }

                }
                .detail-right{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 500px){
    .productDetail{
        width: 95%;
        margin: 20px auto 0;
        &-main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-block{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;
                .img-main{
                    display: none;

                }
                .detail-info{
                    flex: 2;

                    &-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .detail-rating,.detail-osenka{
                                display: flex;
                                align-items: center;
                                background-color: #F6F7FA;
                                border-radius: 12px;
                                height: 25px;
                                padding: 0 15px;
                                font-size: 12px;

                            }
                            .css-ryrseu-MuiRating-root{
                                width: 20px !important;
                                overflow: hidden;
                            }

                        }
                        .buttons{
                            position: absolute;
                            top: 37%;
                            button{
                                background-color: #FDFDFD;
                                img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                    .detail-center{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        margin-top: 15px;
                        .detail-price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            h1{
                                font-size: 14px;
                                font-weight: 600;
                            }
                            p{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                gap: 10px;
                                h2{
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    color: #30D170;
                                }
                            }
                        }
                        .detail-haracter{
                            margin-top: 30px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .img-main2{
                                display: block;
                                object-position: left;
                                width: 120px;
                            }
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                p{

                                    gap: 10px;
                                    font-size: 12px;
                                    font-weight: 400;

                                }
                            }
                            .none{
                                display: none;
                            }
                        }
                    }

                }
                .detail-right{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 400px){
    .productDetail{
        &-main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-block{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;
                .img-main{
                    display: none;

                }
                .detail-info{
                    flex: 2;

                    &-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .rating-top-div{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 10px;
                            width: 100%;
                            .detail-rating,.detail-osenka{
                                display: flex;
                                align-items: center;
                                background-color: #F6F7FA;
                                border-radius: 12px;
                                height: 25px;
                                padding: 0 5px ;
                                font-size: 12px;
                                width: 100%;
                                white-space: nowrap;
                            }
                            .css-ryrseu-MuiRating-root{
                                width: 20px !important;
                                overflow: hidden;
                            }

                        }
                        .buttons{
                            position: absolute;
                            top: 37%;
                            button{
                                background-color: #FDFDFD;
                                img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                    .detail-center{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        margin-top: 15px;
                        .detail-price{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            h1{
                                font-size: 14px;
                                font-weight: 600;
                            }
                            p{
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                gap: 10px;
                                h2{
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    color: #30D170;
                                }
                            }
                        }
                        .detail-haracter{
                            margin-top: 30px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .img-main2{
                                display: block;
                                object-position: left;
                                width: 120px;
                            }
                            div{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                p{

                                    gap: 10px;
                                    font-size: 12px;
                                    font-weight: 400;

                                }
                            }
                            .none{
                                display: none;
                            }
                        }
                    }

                }
                .detail-right{
                    display: none;
                }
            }
        }
    }
}