
.graphic{
    width: 50%;
    .store{
        display: flex;
        gap: 20px;
        margin:20px 0 100px ;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-diagram{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 959px){
    .graphic{
        width: 100%;
        .store{
            display: flex;
            flex-wrap: nowrap;
            overflow: scroll;
            margin: 20px 0 20px;
            align-items: flex-start;
            justify-content: flex-start;
            &::-webkit-scrollbar{width: 0}
        }
        &-diagram{
            width: 100%;
        }
    }
}