.choice {
	max-width: 1440px;
	margin: auto;

	h1 {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	&-block {
		overflow: scroll;
		display: flex;
		&::-webkit-scrollbar {
			width: 0;
		}

		gap: 12px;

		&-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			div {
				width: 164px;
				height: 164px;
				background-color: white;
				border-radius: 12px;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 80%;
				}
			}

			p {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}

@media only screen and (max-width: 1050px){
	.choice {
		h1 {
			font-size: 20px;
		}

		&-block {
			&-info {
				div {
					width: 144px;
					height: 144px;
				}

				p {
					font-size: 14px;
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	.choice {
		width: 95%;
		margin: auto;

		h1 {
			font-size: 16px;
		}

		&-block {
			gap: 12px;

			&-info {
				display: flex;
				flex-direction: column;
				align-items: center;

				div {
					width: 102px;
					height: 102px;
					background-color: white;
					border-radius: 12px;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 80%;
					}
				}

				p {
					font-size: 12px;
				}
			}
		}
	}
}