.info-product-page{
    max-width: 1440px;
    margin: auto;
    h4{
        font-size: 16px;
        font-weight: 400;
        margin:16px 0 32px 0;
        display: flex;
        align-items: center;
        gap: 12px;
        a{
            color: #A1ABB9;
            text-decoration: none;
        }
        .gray{
            color: #A1ABB9;
        }
    }
    &-flex{
        display: flex;
        justify-content: space-between;
        .flex-left{
            width: 47%;
            position: relative;
        }
    }
}
@media only screen and (max-width: 1500px){
    .info-product-page{

        &-flex{

            .flex-left{
                width: 47%;

            }
        }
    }
}
@media only screen and (max-width: 1300px){
    .info-product-page{

        &-flex{

            .flex-left{
                width: 47%;
                position: relative;
                bottom: 50px;
            }
        }
    }
}
@media only screen and (max-width: 1230px){
    .info-product-page{

        &-flex{

            .flex-left{
                width: 47%;
                position: relative;
                bottom: 100px;
            }
        }
    }
}

@media only screen and (max-width: 1070px){
    .info-product-page{

        &-flex{

            .flex-left{
                width: 47%;
                position: relative;
                bottom: 200px;
            }
        }
    }
}
@media only screen and (max-width: 1000px){
    .info-product-page{

        &-flex{

            .flex-left{
                width: 47%;
                position: relative;
                bottom: 250px;
            }
        }
    }
}
@media only screen and (max-width: 959px){
    .info-product-page{
        width: 95%;
        margin: auto;
        h4{
            display: none;
        }
        &-flex{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            .flex-left{
                width: 100%;
                position: sticky;
            }
        }
    }
}
@media only screen and (max-width: 500px){
    .info-product-page{
        .news{
            width: 100%;
        }
    }
}