.info-ratings{
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;
    span{
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
}
@media only screen and (max-width: 500px){
    .info-ratings{
        span{
            height: 3px;

        }
    }
}