.news {
	display: flex;
	flex-direction: column;
	width: 1440px;
	margin: 0 auto 100px;

	.news-text {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			font-size: 24px;
			font-weight: 600;
		}

		button {
			background-color: white;
			border: none;
			display: flex;
			align-items: center;
			color: #FF4D4D;
			font-size: 16px;
			font-weight: 500;

			span {
				display: flex;
			}
		}
	}

	h2,
	h4,
	p {
		margin: 0;
	}

	&-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		overflow: scroll;
		width: 100%;

		&::-webkit-scrollbar {
			width: 0;
		}

		.news-info {
			max-width: 342px;
			border-radius: 12px;
			background-color: #F6F7FA;

			img {
				width: 100%;
				border-radius: 12px 12px 0 0;
			}

			.info-text {
				width: 100%;
				padding: 16px;

				h4 {
					font-size: 20px;
					font-weight: 600;
					width: 80%;
				}

				p {
					font-size: 16px;
					font-weight: 400;
					color: #7E8794;
				}

				button {
					border: none;
					background-color: #F6F7FA;
					color: #FF4D4D;
					display: flex;
					align-items: center;
					font-size: 16px;
					justify-content: flex-start;
					width: 60px;

					span {
						display: flex;
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 500px) {
	.news {
		width: 95%;
		margin: 0 auto 32px;

		.news-text {
			p {
				font-size: 16px;
			}
		}

		&-block {
			gap: 24px;

			.news-info {
				width: 232px;

				img {
					width: 232px;
				}

				.info-text {
					padding: 16px;

					h4 {
						font-size: 16px;
						font-weight: 600;
						width: 80%;
					}

					p {
						font-size: 14px;
					}

				}
			}
		}

	}
}